@import './base.css';

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  /* Lignes ajoutées pour navigateurs mobiles (souvent Safari ou Chrome iOS) 
   * qui nécessitent que l'on déclare explicitement que le conteneur est scrollable */
  overflow-y: auto !important;
  height: auto !important;
  -webkit-overflow-scrolling: touch;
  /* Pour un scroll fluide sur iOS */
}

#app {
  padding: 0;
  font-weight: normal;
  height: 100%;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}